body {
  /*background image from src/assets/app_background.jpg*/
  background-image: url("../assets/app_backgroud.jpg");
  background-size: cover;
}

/* Container styling for centering main content */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 80vh; /* Full viewport height */
  background-color: transparent;
}

/* Header styling */

header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #002b36;
  color: #f5f5dc;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  border-bottom-style: solid;
  border-color: #6a9a5b;
}

nav ul {
  list-style: none;
  display: flex;
  background-color: #002b36;
  color: #f5f5dc;
  gap: 15px;
}

header h1 {
  /*color that matches current color palete but works well for logo title*/
  color: #6a9a5b;
  font-size: 24px;
  font-weight: bold;
  font-style: italic;
  margin-right: 40px;
}

nav li {
  display: flex;
  align-items: center;
}

a:link,
a:visited {
  color: #f5f5dc;
}

a:hover {
  color: #bdc3c7;
}

a:link,
a:visited,
a:hover li {
  text-decoration: none;
  margin: 0px 0px 0px 20px;
  display: block;
  text-align: center;
}

/* Main styling */
form {
  background: #fff; /* White background */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px; /* Fixed width for the form */
  text-align: center;
}

/* Styling for form elements */
form div {
  margin-bottom: 15px;
}

/* Styling for labels */
label {
  display: block;
  margin-bottom: 5px;
  color: #333;
  font-size: 14px;
}

/* Styling for inputs */
input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Styling for the submit button */
button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff; /* Blue background for button */
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

/* Adding hover effect to the button */
button:hover {
  background-color: #0056b3;
}
